:root{
    --black: #000000;
    --white: #ffffff;
    --yellow: #ffdd1b;

}


body{
    background-color: var(--black)
    color: var(--white)
    
}
img{
    width:1440px;
    height: 697px;
    

}
