:root{
    --black: #000000;
    --white: #ffffff;
    --yellow: #ffdd1b;

}


body{
    background-color: var(--black);
    color: var(--white);

}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: right;
    border: orangered solid 100px;
    background-color: orangered;
    
}
.intro-img{
    width: 221px;
    height: 840px;
}
.intro{
    display: flex;
    font-size: 50px;
}
.Uzumaki {
    display: flex;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: orangered;
}
.pessoa {
    border: 3px solid orangered;
    margin: 12px;
}
footer {
    border: orangered 100px solid;
    background-color: orangered;
    color: rgb(0, 0, 0);
}
footer a{
    color: #000000;
    text-decoration: none;
}

.primeira-imagem{
    background-image: url(./bliack.jpg);
    background-size: 100% 100%;
    height: 1000px;
    margin-top: 0%;
    font-size: 144px;
    text-align: center;
  
  
}
.topicos {
    text-align: start;
}
a {
    color: #ffffff;
    text-decoration: solid;
}