:root{
    --black: #000000;
    --white: #ffffff;
    --yellow: #ffdd1b;

}


body{
    background-color: var(--black);
    color: var(--white);

}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: right;
    border: orangered solid 100px;
}
.intro-img{
    width: 221px;
    height: 217px;
}
.intro{
    display: flex;
}
.Uzumaki {
    display: list-item;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.pessoa {
    border: 3px solid orangered;
    margin: 12px;
}
footer {
    border: orangered 100px solid;
}